if messages.error
  span=messages.error
else if messages.success
  span=messages.success  
nav
  a(href="/")
    | Book Directory
  ul
    li
      a(href="/books/add")
        | Add Book
h1=pageTitle